--
-- PostgreSQL database dump
--

\restrict AwmQFQS4bWG0sdz4pJ1vLk6Tb03lnjT4GfevA5Bn5q97VF3HgfEebZJ0ceSidnH

-- Dumped from database version 15.13 (Debian 15.13-1.pgdg120+1)
-- Dumped by pg_dump version 17.6 (Debian 17.6-2.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE IF EXISTS erp_vd_cosmos;
--
-- Name: erp_vd_cosmos; Type: DATABASE; Schema: -; Owner: -
--

CREATE DATABASE erp_vd_cosmos WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


\unrestrict AwmQFQS4bWG0sdz4pJ1vLk6Tb03lnjT4GfevA5Bn5q97VF3HgfEebZJ0ceSidnH
\connect erp_vd_cosmos
\restrict AwmQFQS4bWG0sdz4pJ1vLk6Tb03lnjT4GfevA5Bn5q97VF3HgfEebZJ0ceSidnH

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

-- *not* creating schema, since initdb creates it


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS '';


--
-- Name: BranchStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."BranchStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'CLOSED'
);


--
-- Name: CompanyStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."CompanyStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'SUSPENDED'
);


--
-- Name: Currency; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."Currency" AS ENUM (
    'PEN',
    'USD',
    'EUR'
);


--
-- Name: DeliveryStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."DeliveryStatus" AS ENUM (
    'PENDING',
    'PARTIAL',
    'DELIVERED'
);


--
-- Name: DocumentType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."DocumentType" AS ENUM (
    'DNI',
    'RUC',
    'CE',
    'PASSPORT'
);


--
-- Name: GlassColorType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."GlassColorType" AS ENUM (
    'INCOLORO',
    'COLOR',
    'POLARIZADO',
    'REFLEJANTE'
);


--
-- Name: GlassFamily; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."GlassFamily" AS ENUM (
    'PLANO',
    'CATEDRAL',
    'TEMPLADO',
    'ESPEJO'
);


--
-- Name: GlassTexture; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."GlassTexture" AS ENUM (
    'LISO',
    'CUADRICULADO',
    'LLOVIZNA',
    'GARATACHI',
    'FLORA',
    'MARIHUANA',
    'RAMAS'
);


--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'CASH',
    'TRANSFER',
    'CARD',
    'YAPE',
    'PLIN',
    'OTHER'
);


--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PENDING',
    'PARTIAL',
    'PAID'
);


--
-- Name: PricingFrameKind; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."PricingFrameKind" AS ENUM (
    'SIN_FONDO',
    'CON_FONDO',
    'FONDO_TRANSPARENTE',
    'CON_BASTIDOR',
    'ESPECIAL'
);


--
-- Name: PricingMoldingQuality; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."PricingMoldingQuality" AS ENUM (
    'SIMPLE',
    'FINA',
    'BASTIDOR'
);


--
-- Name: QuoteStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."QuoteStatus" AS ENUM (
    'PENDING',
    'ACCEPTED',
    'REJECTED'
);


--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."UserRole" AS ENUM (
    'SUPER_ADMIN',
    'ADMIN',
    'OPERATOR'
);


--
-- Name: WalletType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."WalletType" AS ENUM (
    'YAPE',
    'PLIN'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: BankAccount; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."BankAccount" (
    id integer NOT NULL,
    bank text NOT NULL,
    "accountType" text NOT NULL,
    alias text,
    number text NOT NULL,
    cci text,
    currency public."Currency" NOT NULL,
    "companyId" integer NOT NULL
);


--
-- Name: BankAccount_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."BankAccount_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: BankAccount_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."BankAccount_id_seq" OWNED BY public."BankAccount".id;


--
-- Name: Branch; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Branch" (
    id integer NOT NULL,
    name text NOT NULL,
    address text NOT NULL,
    phone text,
    status public."BranchStatus" DEFAULT 'ACTIVE'::public."BranchStatus" NOT NULL,
    "companyId" integer NOT NULL
);


--
-- Name: Branch_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Branch_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Branch_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Branch_id_seq" OWNED BY public."Branch".id;


--
-- Name: Client; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Client" (
    id integer NOT NULL,
    "documentType" public."DocumentType" NOT NULL,
    "documentNumber" text NOT NULL,
    "fullName" text NOT NULL,
    "contactPerson" text,
    "businessName" text,
    phone text,
    email text,
    address text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "companyId" integer NOT NULL
);


--
-- Name: Client_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Client_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Client_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Client_id_seq" OWNED BY public."Client".id;


--
-- Name: Company; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Company" (
    id integer NOT NULL,
    name text NOT NULL,
    ruc text NOT NULL,
    "logoUrl" text,
    address text,
    phone text,
    whatsapp text,
    "facebookUrl" text,
    "instagramUrl" text,
    "tiktokUrl" text,
    email text,
    website text,
    slogan text,
    description text,
    notes text,
    "legalRepresentative" text,
    administrator text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    status public."CompanyStatus" DEFAULT 'ACTIVE'::public."CompanyStatus" NOT NULL
);


--
-- Name: Company_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Company_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Company_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Company_id_seq" OWNED BY public."Company".id;


--
-- Name: Contract; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Contract" (
    id integer NOT NULL,
    "quoteId" integer NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "paymentStatus" public."PaymentStatus" NOT NULL,
    "amountPaid" double precision DEFAULT 0 NOT NULL,
    "amountPending" double precision DEFAULT 0 NOT NULL,
    "deliveryDate" timestamp(3) without time zone,
    "deliveredAt" timestamp(3) without time zone,
    "deliveryStatus" public."DeliveryStatus" NOT NULL,
    notes text,
    "clientId" integer NOT NULL,
    "companyId" integer NOT NULL,
    "contractNote" text
);


--
-- Name: ContractItem; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."ContractItem" (
    id integer NOT NULL,
    "contractId" integer NOT NULL,
    description text NOT NULL,
    unit text NOT NULL,
    quantity double precision NOT NULL,
    "unitPrice" double precision NOT NULL,
    subtotal double precision NOT NULL
);


--
-- Name: ContractItem_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."ContractItem_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: ContractItem_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."ContractItem_id_seq" OWNED BY public."ContractItem".id;


--
-- Name: Contract_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Contract_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Contract_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Contract_id_seq" OWNED BY public."Contract".id;


--
-- Name: Observation; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Observation" (
    id integer NOT NULL,
    "quoteId" integer NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    type text NOT NULL,
    message text NOT NULL
);


--
-- Name: Observation_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Observation_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Observation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Observation_id_seq" OWNED BY public."Observation".id;


--
-- Name: Payment; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Payment" (
    id integer NOT NULL,
    "contractId" integer NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    amount double precision NOT NULL,
    method public."PaymentMethod" NOT NULL,
    reference text,
    notes text
);


--
-- Name: Payment_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Payment_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Payment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Payment_id_seq" OWNED BY public."Payment".id;


--
-- Name: Quote; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Quote" (
    id integer NOT NULL,
    code text NOT NULL,
    "clientId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status public."QuoteStatus" NOT NULL,
    notes text,
    total double precision DEFAULT 0 NOT NULL,
    "createdById" text,
    "companyId" integer NOT NULL
);


--
-- Name: QuoteItem; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."QuoteItem" (
    id integer NOT NULL,
    "quoteId" integer NOT NULL,
    description text NOT NULL,
    unit text NOT NULL,
    quantity double precision NOT NULL,
    "unitPrice" double precision NOT NULL,
    subtotal double precision NOT NULL
);


--
-- Name: QuoteItem_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."QuoteItem_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: QuoteItem_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."QuoteItem_id_seq" OWNED BY public."QuoteItem".id;


--
-- Name: Quote_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Quote_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Quote_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Quote_id_seq" OWNED BY public."Quote".id;


--
-- Name: Wallet; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Wallet" (
    id integer NOT NULL,
    type public."WalletType" NOT NULL,
    phone text NOT NULL,
    "qrUrl" text,
    "companyId" integer NOT NULL
);


--
-- Name: Wallet_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Wallet_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Wallet_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Wallet_id_seq" OWNED BY public."Wallet".id;


--
-- Name: accounts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.accounts (
    id text NOT NULL,
    user_id text NOT NULL,
    type text NOT NULL,
    provider text NOT NULL,
    provider_account_id text NOT NULL,
    refresh_token text,
    access_token text,
    expires_at integer,
    token_type text,
    scope text,
    id_token text,
    session_state text
);


--
-- Name: colors; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.colors (
    id integer NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: colors_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.colors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: colors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.colors_id_seq OWNED BY public.colors.id;


--
-- Name: molding_colors; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.molding_colors (
    id integer NOT NULL,
    "companyId" integer NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: molding_colors_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.molding_colors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: molding_colors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.molding_colors_id_seq OWNED BY public.molding_colors.id;


--
-- Name: molding_textures; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.molding_textures (
    id integer NOT NULL,
    "companyId" integer NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: molding_textures_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.molding_textures_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: molding_textures_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.molding_textures_id_seq OWNED BY public.molding_textures.id;


--
-- Name: pricing_accessory; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pricing_accessory (
    id integer NOT NULL,
    "companyId" integer NOT NULL,
    name text NOT NULL,
    price numeric(12,2) NOT NULL,
    "validFrom" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "validTo" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: pricing_accessory_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.pricing_accessory_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: pricing_accessory_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.pricing_accessory_id_seq OWNED BY public.pricing_accessory.id;


--
-- Name: pricing_backing; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pricing_backing (
    id integer NOT NULL,
    "companyId" integer NOT NULL,
    name text NOT NULL,
    "pricePerFt2" numeric(12,2) NOT NULL,
    "validFrom" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "validTo" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: pricing_backing_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.pricing_backing_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: pricing_backing_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.pricing_backing_id_seq OWNED BY public.pricing_backing.id;


--
-- Name: pricing_frame_preset; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pricing_frame_preset (
    id integer NOT NULL,
    "companyId" integer NOT NULL,
    name text NOT NULL,
    kind public."PricingFrameKind" NOT NULL,
    recipe jsonb NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "validFrom" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "validTo" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: pricing_frame_preset_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.pricing_frame_preset_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: pricing_frame_preset_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.pricing_frame_preset_id_seq OWNED BY public.pricing_frame_preset.id;


--
-- Name: pricing_glass; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pricing_glass (
    id integer NOT NULL,
    "companyId" integer NOT NULL,
    "commercialName" text NOT NULL,
    family public."GlassFamily" NOT NULL,
    "thicknessMM" numeric(5,2) NOT NULL,
    "colorType" public."GlassColorType" DEFAULT 'INCOLORO'::public."GlassColorType" NOT NULL,
    "colorId" integer,
    "oldColor" text,
    price numeric(12,2) NOT NULL,
    "validFrom" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "validTo" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: pricing_glass_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.pricing_glass_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: pricing_glass_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.pricing_glass_id_seq OWNED BY public.pricing_glass.id;


--
-- Name: pricing_matboard; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pricing_matboard (
    id integer NOT NULL,
    "companyId" integer NOT NULL,
    name text NOT NULL,
    "pricePerFt2" numeric(12,2) NOT NULL,
    "validFrom" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "validTo" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: pricing_matboard_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.pricing_matboard_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: pricing_matboard_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.pricing_matboard_id_seq OWNED BY public.pricing_matboard.id;


--
-- Name: pricing_molding; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pricing_molding (
    id integer NOT NULL,
    "companyId" integer NOT NULL,
    name text NOT NULL,
    quality public."PricingMoldingQuality" NOT NULL,
    "thicknessId" integer NOT NULL,
    "pricePerM" numeric(12,2) NOT NULL,
    "validFrom" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "validTo" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: pricing_molding_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.pricing_molding_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: pricing_molding_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.pricing_molding_id_seq OWNED BY public.pricing_molding.id;


--
-- Name: pricing_thickness; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pricing_thickness (
    id integer NOT NULL,
    "companyId" integer NOT NULL,
    name text NOT NULL
);


--
-- Name: pricing_thickness_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.pricing_thickness_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: pricing_thickness_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.pricing_thickness_id_seq OWNED BY public.pricing_thickness.id;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sessions (
    id text NOT NULL,
    session_token text NOT NULL,
    user_id text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


--
-- Name: textures; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.textures (
    id integer NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: textures_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.textures_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: textures_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.textures_id_seq OWNED BY public.textures.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    name text,
    username text,
    "lastLogin" timestamp(3) without time zone,
    password text,
    phone text,
    "isActive" boolean DEFAULT true NOT NULL,
    role public."UserRole" DEFAULT 'OPERATOR'::public."UserRole" NOT NULL,
    email_verified timestamp(3) without time zone,
    image text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "companyId" integer
);


--
-- Name: verification_tokens; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.verification_tokens (
    identifier text NOT NULL,
    token text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


--
-- Name: BankAccount id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BankAccount" ALTER COLUMN id SET DEFAULT nextval('public."BankAccount_id_seq"'::regclass);


--
-- Name: Branch id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Branch" ALTER COLUMN id SET DEFAULT nextval('public."Branch_id_seq"'::regclass);


--
-- Name: Client id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Client" ALTER COLUMN id SET DEFAULT nextval('public."Client_id_seq"'::regclass);


--
-- Name: Company id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Company" ALTER COLUMN id SET DEFAULT nextval('public."Company_id_seq"'::regclass);


--
-- Name: Contract id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Contract" ALTER COLUMN id SET DEFAULT nextval('public."Contract_id_seq"'::regclass);


--
-- Name: ContractItem id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ContractItem" ALTER COLUMN id SET DEFAULT nextval('public."ContractItem_id_seq"'::regclass);


--
-- Name: Observation id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Observation" ALTER COLUMN id SET DEFAULT nextval('public."Observation_id_seq"'::regclass);


--
-- Name: Payment id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Payment" ALTER COLUMN id SET DEFAULT nextval('public."Payment_id_seq"'::regclass);


--
-- Name: Quote id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Quote" ALTER COLUMN id SET DEFAULT nextval('public."Quote_id_seq"'::regclass);


--
-- Name: QuoteItem id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."QuoteItem" ALTER COLUMN id SET DEFAULT nextval('public."QuoteItem_id_seq"'::regclass);


--
-- Name: Wallet id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Wallet" ALTER COLUMN id SET DEFAULT nextval('public."Wallet_id_seq"'::regclass);


--
-- Name: colors id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.colors ALTER COLUMN id SET DEFAULT nextval('public.colors_id_seq'::regclass);


--
-- Name: molding_colors id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.molding_colors ALTER COLUMN id SET DEFAULT nextval('public.molding_colors_id_seq'::regclass);


--
-- Name: molding_textures id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.molding_textures ALTER COLUMN id SET DEFAULT nextval('public.molding_textures_id_seq'::regclass);


--
-- Name: pricing_accessory id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_accessory ALTER COLUMN id SET DEFAULT nextval('public.pricing_accessory_id_seq'::regclass);


--
-- Name: pricing_backing id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_backing ALTER COLUMN id SET DEFAULT nextval('public.pricing_backing_id_seq'::regclass);


--
-- Name: pricing_frame_preset id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_frame_preset ALTER COLUMN id SET DEFAULT nextval('public.pricing_frame_preset_id_seq'::regclass);


--
-- Name: pricing_glass id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_glass ALTER COLUMN id SET DEFAULT nextval('public.pricing_glass_id_seq'::regclass);


--
-- Name: pricing_matboard id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_matboard ALTER COLUMN id SET DEFAULT nextval('public.pricing_matboard_id_seq'::regclass);


--
-- Name: pricing_molding id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_molding ALTER COLUMN id SET DEFAULT nextval('public.pricing_molding_id_seq'::regclass);


--
-- Name: pricing_thickness id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_thickness ALTER COLUMN id SET DEFAULT nextval('public.pricing_thickness_id_seq'::regclass);


--
-- Name: textures id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.textures ALTER COLUMN id SET DEFAULT nextval('public.textures_id_seq'::regclass);


--
-- Data for Name: BankAccount; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."BankAccount" (id, bank, "accountType", alias, number, cci, currency, "companyId") FROM stdin;
2	INTERBANK	Cuenta Negocios Soles	Cuenta principal	5233006591083	00352300300659108385	PEN	1
3	Banco de la Naci├│n	Cuenta de Detracciones	Detracci├│n	00 331 068462	018 331 00033106846290	PEN	1
\.


--
-- Data for Name: Branch; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Branch" (id, name, address, phone, status, "companyId") FROM stdin;
1	Sucursal Principal	Rinc├│n Ester s/n.	919982016	ACTIVE	1
\.


--
-- Data for Name: Client; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Company; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Contract; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Contract" (id, "quoteId", date, "paymentStatus", "amountPaid", "amountPending", "deliveryDate", "deliveredAt", "deliveryStatus", notes, "clientId", "companyId", "contractNote") FROM stdin;
\.


--
-- Data for Name: ContractItem; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."ContractItem" (id, "contractId", description, unit, quantity, "unitPrice", subtotal) FROM stdin;
\.


--
-- Data for Name: Observation; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Observation" (id, "quoteId", date, type, message) FROM stdin;
\.


--
-- Data for Name: Payment; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Payment" (id, "contractId", date, amount, method, reference, notes) FROM stdin;
\.


--
-- Data for Name: Quote; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: QuoteItem; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Wallet; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Wallet" (id, type, phone, "qrUrl", "companyId") FROM stdin;
1	YAPE	994 260 216	https://precious-hydrocarbon.com.es/	1
2	PLIN	994 260 216	\N	1
\.


--
-- Data for Name: accounts; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.accounts (id, user_id, type, provider, provider_account_id, refresh_token, access_token, expires_at, token_type, scope, id_token, session_state) FROM stdin;
\.


--
-- Data for Name: colors; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: molding_colors; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.molding_colors (id, "companyId", name, "createdAt", "updatedAt") FROM stdin;
1	1	Natural	2025-10-07 16:31:42.956	2025-10-07 16:31:42.956
2	1	Dorado	2025-10-07 16:31:42.959	2025-10-07 16:31:42.959
3	1	Plateado	2025-10-07 16:31:42.96	2025-10-07 16:31:42.96
4	1	Negro	2025-10-07 16:31:42.961	2025-10-07 16:31:42.961
5	1	Blanco	2025-10-07 16:31:42.962	2025-10-07 16:31:42.962
6	1	Caoba	2025-10-07 16:31:42.963	2025-10-07 16:31:42.963
\.


--
-- Data for Name: molding_textures; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.molding_textures (id, "companyId", name, "createdAt", "updatedAt") FROM stdin;
1	1	Lisa	2025-10-07 16:31:42.945	2025-10-07 16:31:42.945
2	1	Rugosa	2025-10-07 16:31:42.947	2025-10-07 16:31:42.947
3	1	Mate	2025-10-07 16:31:42.949	2025-10-07 16:31:42.949
4	1	Brillante	2025-10-07 16:31:42.95	2025-10-07 16:31:42.95
5	1	Texturizada	2025-10-07 16:31:42.952	2025-10-07 16:31:42.952
6	1	Acanalada	2025-10-07 16:31:42.954	2025-10-07 16:31:42.954
\.


--
-- Data for Name: pricing_accessory; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.pricing_accessory (id, "companyId", name, price, "validFrom", "validTo", "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: pricing_backing; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.pricing_backing (id, "companyId", name, "pricePerFt2", "validFrom", "validTo", "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: pricing_frame_preset; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.pricing_frame_preset (id, "companyId", name, kind, recipe, "isActive", "validFrom", "validTo", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: pricing_glass; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: pricing_matboard; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.pricing_matboard (id, "companyId", name, "pricePerFt2", "validFrom", "validTo", "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: pricing_molding; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: pricing_thickness; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.pricing_thickness (id, "companyId", name) FROM stdin;
1	1	MEDIA
2	1	TRES_CUARTOS
3	1	UNA_PULGADA
4	1	UNA_Y_CUARTO
5	1	UNA_Y_MEDIA
6	1	DOS_PULGADAS
7	1	TRES_PULGADAS
8	1	MEDIA_X_MEDIA
9	1	MEDIA_X_TRES_CUARTOS
10	1	MEDIA_X_UNA_PULGADA
11	1	TRES_CUARTOS_X_TRES_CUARTOS
12	1	UNA_PULGADA_X_UNA_PULGADA
13	1	DOS_X_DOS
14	1	DOS_X_TRES
15	1	CUATRO_PULGADAS
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.sessions (id, session_token, user_id, expires) FROM stdin;
\.


--
-- Data for Name: textures; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.textures (id, name, "createdAt", "updatedAt") FROM stdin;
1	Liso	2025-10-07 17:37:49.269	2025-10-07 17:37:49.269
2	Cuadriculado	2025-10-07 17:37:49.274	2025-10-07 17:37:49.274
3	Llovizna	2025-10-07 17:37:49.276	2025-10-07 17:37:49.276
4	Garatachi	2025-10-07 17:37:49.279	2025-10-07 17:37:49.279
5	Flora	2025-10-07 17:37:49.282	2025-10-07 17:37:49.282
6	Marihuana	2025-10-07 17:37:49.286	2025-10-07 17:37:49.286
7	Ramas	2025-10-07 17:37:49.288	2025-10-07 17:37:49.288
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: verification_tokens; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.verification_tokens (identifier, token, expires) FROM stdin;
\.


--
-- Name: BankAccount_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."BankAccount_id_seq"', 3, true);


--
-- Name: Branch_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Branch_id_seq"', 1, true);


--
-- Name: Client_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Client_id_seq"', 8, true);


--
-- Name: Company_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Company_id_seq"', 2, true);


--
-- Name: ContractItem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."ContractItem_id_seq"', 1, false);


--
-- Name: Contract_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Contract_id_seq"', 1, false);


--
-- Name: Observation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Observation_id_seq"', 1, false);


--
-- Name: Payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Payment_id_seq"', 1, false);


--
-- Name: QuoteItem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."QuoteItem_id_seq"', 19, true);


--
-- Name: Quote_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Quote_id_seq"', 6, true);


--
-- Name: Wallet_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Wallet_id_seq"', 2, true);


--
-- Name: colors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.colors_id_seq', 10, true);


--
-- Name: molding_colors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.molding_colors_id_seq', 6, true);


--
-- Name: molding_textures_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.molding_textures_id_seq', 6, true);


--
-- Name: pricing_accessory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.pricing_accessory_id_seq', 1, false);


--
-- Name: pricing_backing_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.pricing_backing_id_seq', 1, false);


--
-- Name: pricing_frame_preset_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.pricing_frame_preset_id_seq', 1, false);


--
-- Name: pricing_glass_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.pricing_glass_id_seq', 19, true);


--
-- Name: pricing_matboard_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.pricing_matboard_id_seq', 1, false);


--
-- Name: pricing_molding_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.pricing_molding_id_seq', 13, true);


--
-- Name: pricing_thickness_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.pricing_thickness_id_seq', 15, true);


--
-- Name: textures_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.textures_id_seq', 7, true);


--
-- Name: BankAccount BankAccount_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BankAccount"
    ADD CONSTRAINT "BankAccount_pkey" PRIMARY KEY (id);


--
-- Name: Branch Branch_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Branch"
    ADD CONSTRAINT "Branch_pkey" PRIMARY KEY (id);


--
-- Name: Client Client_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Client"
    ADD CONSTRAINT "Client_pkey" PRIMARY KEY (id);


--
-- Name: Company Company_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Company"
    ADD CONSTRAINT "Company_pkey" PRIMARY KEY (id);


--
-- Name: ContractItem ContractItem_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ContractItem"
    ADD CONSTRAINT "ContractItem_pkey" PRIMARY KEY (id);


--
-- Name: Contract Contract_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Contract"
    ADD CONSTRAINT "Contract_pkey" PRIMARY KEY (id);


--
-- Name: Observation Observation_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Observation"
    ADD CONSTRAINT "Observation_pkey" PRIMARY KEY (id);


--
-- Name: Payment Payment_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_pkey" PRIMARY KEY (id);


--
-- Name: QuoteItem QuoteItem_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."QuoteItem"
    ADD CONSTRAINT "QuoteItem_pkey" PRIMARY KEY (id);


--
-- Name: Quote Quote_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_pkey" PRIMARY KEY (id);


--
-- Name: Wallet Wallet_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Wallet"
    ADD CONSTRAINT "Wallet_pkey" PRIMARY KEY (id);


--
-- Name: accounts accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_pkey PRIMARY KEY (id);


--
-- Name: colors colors_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.colors
    ADD CONSTRAINT colors_pkey PRIMARY KEY (id);


--
-- Name: molding_colors molding_colors_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.molding_colors
    ADD CONSTRAINT molding_colors_pkey PRIMARY KEY (id);


--
-- Name: molding_textures molding_textures_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.molding_textures
    ADD CONSTRAINT molding_textures_pkey PRIMARY KEY (id);


--
-- Name: pricing_accessory pricing_accessory_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_accessory
    ADD CONSTRAINT pricing_accessory_pkey PRIMARY KEY (id);


--
-- Name: pricing_backing pricing_backing_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_backing
    ADD CONSTRAINT pricing_backing_pkey PRIMARY KEY (id);


--
-- Name: pricing_frame_preset pricing_frame_preset_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_frame_preset
    ADD CONSTRAINT pricing_frame_preset_pkey PRIMARY KEY (id);


--
-- Name: pricing_glass pricing_glass_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_glass
    ADD CONSTRAINT pricing_glass_pkey PRIMARY KEY (id);


--
-- Name: pricing_matboard pricing_matboard_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_matboard
    ADD CONSTRAINT pricing_matboard_pkey PRIMARY KEY (id);


--
-- Name: pricing_molding pricing_molding_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_molding
    ADD CONSTRAINT pricing_molding_pkey PRIMARY KEY (id);


--
-- Name: pricing_thickness pricing_thickness_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_thickness
    ADD CONSTRAINT pricing_thickness_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: textures textures_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.textures
    ADD CONSTRAINT textures_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: Client_documentNumber_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Client_documentNumber_key" ON public."Client" USING btree ("documentNumber");


--
-- Name: Company_ruc_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Company_ruc_key" ON public."Company" USING btree (ruc);


--
-- Name: Contract_quoteId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Contract_quoteId_key" ON public."Contract" USING btree ("quoteId");


--
-- Name: Quote_code_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Quote_code_key" ON public."Quote" USING btree (code);


--
-- Name: accounts_provider_provider_account_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX accounts_provider_provider_account_id_key ON public.accounts USING btree (provider, provider_account_id);


--
-- Name: colors_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX colors_name_key ON public.colors USING btree (name);


--
-- Name: molding_colors_companyId_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "molding_colors_companyId_name_key" ON public.molding_colors USING btree ("companyId", name);


--
-- Name: molding_textures_companyId_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "molding_textures_companyId_name_key" ON public.molding_textures USING btree ("companyId", name);


--
-- Name: pricing_accessory_companyId_name_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_accessory_companyId_name_idx" ON public.pricing_accessory USING btree ("companyId", name);


--
-- Name: pricing_accessory_companyId_name_validFrom_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "pricing_accessory_companyId_name_validFrom_key" ON public.pricing_accessory USING btree ("companyId", name, "validFrom");


--
-- Name: pricing_accessory_isActive_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_accessory_isActive_idx" ON public.pricing_accessory USING btree ("isActive");


--
-- Name: pricing_accessory_validFrom_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_accessory_validFrom_idx" ON public.pricing_accessory USING btree ("validFrom");


--
-- Name: pricing_accessory_validTo_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_accessory_validTo_idx" ON public.pricing_accessory USING btree ("validTo");


--
-- Name: pricing_backing_companyId_name_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_backing_companyId_name_idx" ON public.pricing_backing USING btree ("companyId", name);


--
-- Name: pricing_backing_companyId_name_validFrom_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "pricing_backing_companyId_name_validFrom_key" ON public.pricing_backing USING btree ("companyId", name, "validFrom");


--
-- Name: pricing_backing_isActive_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_backing_isActive_idx" ON public.pricing_backing USING btree ("isActive");


--
-- Name: pricing_backing_validFrom_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_backing_validFrom_idx" ON public.pricing_backing USING btree ("validFrom");


--
-- Name: pricing_backing_validTo_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_backing_validTo_idx" ON public.pricing_backing USING btree ("validTo");


--
-- Name: pricing_frame_preset_companyId_kind_isActive_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_frame_preset_companyId_kind_isActive_idx" ON public.pricing_frame_preset USING btree ("companyId", kind, "isActive");


--
-- Name: pricing_frame_preset_companyId_name_validFrom_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "pricing_frame_preset_companyId_name_validFrom_key" ON public.pricing_frame_preset USING btree ("companyId", name, "validFrom");


--
-- Name: pricing_frame_preset_validFrom_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_frame_preset_validFrom_idx" ON public.pricing_frame_preset USING btree ("validFrom");


--
-- Name: pricing_frame_preset_validTo_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_frame_preset_validTo_idx" ON public.pricing_frame_preset USING btree ("validTo");


--
-- Name: pricing_glass_colorType_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_glass_colorType_idx" ON public.pricing_glass USING btree ("colorType");


--
-- Name: pricing_glass_companyId_commercialName_family_thicknessMM_v_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "pricing_glass_companyId_commercialName_family_thicknessMM_v_key" ON public.pricing_glass USING btree ("companyId", "commercialName", family, "thicknessMM", "validFrom");


--
-- Name: pricing_glass_companyId_commercialName_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_glass_companyId_commercialName_idx" ON public.pricing_glass USING btree ("companyId", "commercialName");


--
-- Name: pricing_glass_companyId_family_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_glass_companyId_family_idx" ON public.pricing_glass USING btree ("companyId", family);


--
-- Name: pricing_glass_isActive_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_glass_isActive_idx" ON public.pricing_glass USING btree ("isActive");


--
-- Name: pricing_glass_validFrom_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_glass_validFrom_idx" ON public.pricing_glass USING btree ("validFrom");


--
-- Name: pricing_glass_validTo_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_glass_validTo_idx" ON public.pricing_glass USING btree ("validTo");


--
-- Name: pricing_matboard_companyId_name_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_matboard_companyId_name_idx" ON public.pricing_matboard USING btree ("companyId", name);


--
-- Name: pricing_matboard_companyId_name_validFrom_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "pricing_matboard_companyId_name_validFrom_key" ON public.pricing_matboard USING btree ("companyId", name, "validFrom");


--
-- Name: pricing_matboard_isActive_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_matboard_isActive_idx" ON public.pricing_matboard USING btree ("isActive");


--
-- Name: pricing_matboard_validFrom_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_matboard_validFrom_idx" ON public.pricing_matboard USING btree ("validFrom");


--
-- Name: pricing_matboard_validTo_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_matboard_validTo_idx" ON public.pricing_matboard USING btree ("validTo");


--
-- Name: pricing_molding_companyId_name_quality_thicknessId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_molding_companyId_name_quality_thicknessId_idx" ON public.pricing_molding USING btree ("companyId", name, quality, "thicknessId");


--
-- Name: pricing_molding_companyId_name_thicknessId_validFrom_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "pricing_molding_companyId_name_thicknessId_validFrom_key" ON public.pricing_molding USING btree ("companyId", name, "thicknessId", "validFrom");


--
-- Name: pricing_molding_isActive_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_molding_isActive_idx" ON public.pricing_molding USING btree ("isActive");


--
-- Name: pricing_molding_validFrom_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_molding_validFrom_idx" ON public.pricing_molding USING btree ("validFrom");


--
-- Name: pricing_molding_validTo_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_molding_validTo_idx" ON public.pricing_molding USING btree ("validTo");


--
-- Name: pricing_thickness_companyId_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "pricing_thickness_companyId_name_key" ON public.pricing_thickness USING btree ("companyId", name);


--
-- Name: sessions_session_token_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX sessions_session_token_key ON public.sessions USING btree (session_token);


--
-- Name: textures_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX textures_name_key ON public.textures USING btree (name);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_username_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX users_username_key ON public.users USING btree (username);


--
-- Name: verification_tokens_identifier_token_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX verification_tokens_identifier_token_key ON public.verification_tokens USING btree (identifier, token);


--
-- Name: BankAccount BankAccount_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BankAccount"
    ADD CONSTRAINT "BankAccount_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Branch Branch_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Branch"
    ADD CONSTRAINT "Branch_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Client Client_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Client"
    ADD CONSTRAINT "Client_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ContractItem ContractItem_contractId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ContractItem"
    ADD CONSTRAINT "ContractItem_contractId_fkey" FOREIGN KEY ("contractId") REFERENCES public."Contract"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Contract Contract_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Contract"
    ADD CONSTRAINT "Contract_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public."Client"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Contract Contract_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Contract"
    ADD CONSTRAINT "Contract_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Contract Contract_quoteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Contract"
    ADD CONSTRAINT "Contract_quoteId_fkey" FOREIGN KEY ("quoteId") REFERENCES public."Quote"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Observation Observation_quoteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Observation"
    ADD CONSTRAINT "Observation_quoteId_fkey" FOREIGN KEY ("quoteId") REFERENCES public."Quote"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Payment Payment_contractId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_contractId_fkey" FOREIGN KEY ("contractId") REFERENCES public."Contract"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: QuoteItem QuoteItem_quoteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."QuoteItem"
    ADD CONSTRAINT "QuoteItem_quoteId_fkey" FOREIGN KEY ("quoteId") REFERENCES public."Quote"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Quote Quote_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public."Client"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Quote Quote_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Quote Quote_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Wallet Wallet_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Wallet"
    ADD CONSTRAINT "Wallet_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: accounts accounts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: molding_colors molding_colors_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.molding_colors
    ADD CONSTRAINT "molding_colors_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: molding_textures molding_textures_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.molding_textures
    ADD CONSTRAINT "molding_textures_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pricing_accessory pricing_accessory_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_accessory
    ADD CONSTRAINT "pricing_accessory_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pricing_backing pricing_backing_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_backing
    ADD CONSTRAINT "pricing_backing_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pricing_frame_preset pricing_frame_preset_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_frame_preset
    ADD CONSTRAINT "pricing_frame_preset_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pricing_glass pricing_glass_colorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_glass
    ADD CONSTRAINT "pricing_glass_colorId_fkey" FOREIGN KEY ("colorId") REFERENCES public.colors(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: pricing_glass pricing_glass_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_glass
    ADD CONSTRAINT "pricing_glass_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pricing_matboard pricing_matboard_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_matboard
    ADD CONSTRAINT "pricing_matboard_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pricing_molding pricing_molding_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_molding
    ADD CONSTRAINT "pricing_molding_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pricing_molding pricing_molding_thicknessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_molding
    ADD CONSTRAINT "pricing_molding_thicknessId_fkey" FOREIGN KEY ("thicknessId") REFERENCES public.pricing_thickness(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pricing_thickness pricing_thickness_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_thickness
    ADD CONSTRAINT "pricing_thickness_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sessions sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: users users_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict AwmQFQS4bWG0sdz4pJ1vLk6Tb03lnjT4GfevA5Bn5q97VF3HgfEebZJ0ceSidnH

