--
-- PostgreSQL database dump
--

\restrict A0C8WW4hQkiE4GpJiEmCRo3ofuyEOFWqOwzTho8WOwEB22N9NX9F8KOqdaVnJO4

-- Dumped from database version 15.13 (Debian 15.13-1.pgdg120+1)
-- Dumped by pg_dump version 17.6 (Debian 17.6-2.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE ONLY public.users DROP CONSTRAINT "users_companyId_fkey";
ALTER TABLE ONLY public.sessions DROP CONSTRAINT sessions_user_id_fkey;
ALTER TABLE ONLY public.pricing_thickness DROP CONSTRAINT "pricing_thickness_companyId_fkey";
ALTER TABLE ONLY public.pricing_molding DROP CONSTRAINT "pricing_molding_thicknessId_fkey";
ALTER TABLE ONLY public.pricing_molding DROP CONSTRAINT "pricing_molding_companyId_fkey";
ALTER TABLE ONLY public.pricing_matboard DROP CONSTRAINT "pricing_matboard_companyId_fkey";
ALTER TABLE ONLY public.pricing_glass DROP CONSTRAINT "pricing_glass_companyId_fkey";
ALTER TABLE ONLY public.pricing_glass DROP CONSTRAINT "pricing_glass_colorId_fkey";
ALTER TABLE ONLY public.pricing_frame_preset DROP CONSTRAINT "pricing_frame_preset_companyId_fkey";
ALTER TABLE ONLY public.pricing_backing DROP CONSTRAINT "pricing_backing_companyId_fkey";
ALTER TABLE ONLY public.pricing_accessory DROP CONSTRAINT "pricing_accessory_companyId_fkey";
ALTER TABLE ONLY public.molding_textures DROP CONSTRAINT "molding_textures_companyId_fkey";
ALTER TABLE ONLY public.molding_colors DROP CONSTRAINT "molding_colors_companyId_fkey";
ALTER TABLE ONLY public.accounts DROP CONSTRAINT accounts_user_id_fkey;
ALTER TABLE ONLY public."Wallet" DROP CONSTRAINT "Wallet_companyId_fkey";
ALTER TABLE ONLY public."Quote" DROP CONSTRAINT "Quote_createdById_fkey";
ALTER TABLE ONLY public."Quote" DROP CONSTRAINT "Quote_companyId_fkey";
ALTER TABLE ONLY public."Quote" DROP CONSTRAINT "Quote_clientId_fkey";
ALTER TABLE ONLY public."QuoteItem" DROP CONSTRAINT "QuoteItem_quoteId_fkey";
ALTER TABLE ONLY public."Payment" DROP CONSTRAINT "Payment_contractId_fkey";
ALTER TABLE ONLY public."Observation" DROP CONSTRAINT "Observation_quoteId_fkey";
ALTER TABLE ONLY public."Contract" DROP CONSTRAINT "Contract_quoteId_fkey";
ALTER TABLE ONLY public."Contract" DROP CONSTRAINT "Contract_companyId_fkey";
ALTER TABLE ONLY public."Contract" DROP CONSTRAINT "Contract_clientId_fkey";
ALTER TABLE ONLY public."ContractItem" DROP CONSTRAINT "ContractItem_contractId_fkey";
ALTER TABLE ONLY public."Client" DROP CONSTRAINT "Client_companyId_fkey";
ALTER TABLE ONLY public."Branch" DROP CONSTRAINT "Branch_companyId_fkey";
ALTER TABLE ONLY public."BankAccount" DROP CONSTRAINT "BankAccount_companyId_fkey";
DROP INDEX public.verification_tokens_identifier_token_key;
DROP INDEX public.users_username_key;
DROP INDEX public.users_email_key;
DROP INDEX public.textures_name_key;
DROP INDEX public.sessions_session_token_key;
DROP INDEX public."pricing_thickness_companyId_name_key";
DROP INDEX public."pricing_molding_validTo_idx";
DROP INDEX public."pricing_molding_validFrom_idx";
DROP INDEX public."pricing_molding_isActive_idx";
DROP INDEX public."pricing_molding_companyId_name_thicknessId_validFrom_key";
DROP INDEX public."pricing_molding_companyId_name_quality_thicknessId_idx";
DROP INDEX public."pricing_matboard_validTo_idx";
DROP INDEX public."pricing_matboard_validFrom_idx";
DROP INDEX public."pricing_matboard_isActive_idx";
DROP INDEX public."pricing_matboard_companyId_name_validFrom_key";
DROP INDEX public."pricing_matboard_companyId_name_idx";
DROP INDEX public."pricing_glass_validTo_idx";
DROP INDEX public."pricing_glass_validFrom_idx";
DROP INDEX public."pricing_glass_isActive_idx";
DROP INDEX public."pricing_glass_companyId_family_idx";
DROP INDEX public."pricing_glass_companyId_commercialName_idx";
DROP INDEX public."pricing_glass_companyId_commercialName_family_thicknessMM_v_key";
DROP INDEX public."pricing_glass_colorType_idx";
DROP INDEX public."pricing_frame_preset_validTo_idx";
DROP INDEX public."pricing_frame_preset_validFrom_idx";
DROP INDEX public."pricing_frame_preset_companyId_name_validFrom_key";
DROP INDEX public."pricing_frame_preset_companyId_kind_isActive_idx";
DROP INDEX public."pricing_backing_validTo_idx";
DROP INDEX public."pricing_backing_validFrom_idx";
DROP INDEX public."pricing_backing_isActive_idx";
DROP INDEX public."pricing_backing_companyId_name_validFrom_key";
DROP INDEX public."pricing_backing_companyId_name_idx";
DROP INDEX public."pricing_accessory_validTo_idx";
DROP INDEX public."pricing_accessory_validFrom_idx";
DROP INDEX public."pricing_accessory_isActive_idx";
DROP INDEX public."pricing_accessory_companyId_name_validFrom_key";
DROP INDEX public."pricing_accessory_companyId_name_idx";
DROP INDEX public."molding_textures_companyId_name_key";
DROP INDEX public."molding_colors_companyId_name_key";
DROP INDEX public.colors_name_key;
DROP INDEX public.accounts_provider_provider_account_id_key;
DROP INDEX public."Quote_code_key";
DROP INDEX public."Contract_quoteId_key";
DROP INDEX public."Company_ruc_key";
DROP INDEX public."Client_documentNumber_key";
ALTER TABLE ONLY public.users DROP CONSTRAINT users_pkey;
ALTER TABLE ONLY public.textures DROP CONSTRAINT textures_pkey;
ALTER TABLE ONLY public.sessions DROP CONSTRAINT sessions_pkey;
ALTER TABLE ONLY public.pricing_thickness DROP CONSTRAINT pricing_thickness_pkey;
ALTER TABLE ONLY public.pricing_molding DROP CONSTRAINT pricing_molding_pkey;
ALTER TABLE ONLY public.pricing_matboard DROP CONSTRAINT pricing_matboard_pkey;
ALTER TABLE ONLY public.pricing_glass DROP CONSTRAINT pricing_glass_pkey;
ALTER TABLE ONLY public.pricing_frame_preset DROP CONSTRAINT pricing_frame_preset_pkey;
ALTER TABLE ONLY public.pricing_backing DROP CONSTRAINT pricing_backing_pkey;
ALTER TABLE ONLY public.pricing_accessory DROP CONSTRAINT pricing_accessory_pkey;
ALTER TABLE ONLY public.molding_textures DROP CONSTRAINT molding_textures_pkey;
ALTER TABLE ONLY public.molding_colors DROP CONSTRAINT molding_colors_pkey;
ALTER TABLE ONLY public.colors DROP CONSTRAINT colors_pkey;
ALTER TABLE ONLY public.accounts DROP CONSTRAINT accounts_pkey;
ALTER TABLE ONLY public."Wallet" DROP CONSTRAINT "Wallet_pkey";
ALTER TABLE ONLY public."Quote" DROP CONSTRAINT "Quote_pkey";
ALTER TABLE ONLY public."QuoteItem" DROP CONSTRAINT "QuoteItem_pkey";
ALTER TABLE ONLY public."Payment" DROP CONSTRAINT "Payment_pkey";
ALTER TABLE ONLY public."Observation" DROP CONSTRAINT "Observation_pkey";
ALTER TABLE ONLY public."Contract" DROP CONSTRAINT "Contract_pkey";
ALTER TABLE ONLY public."ContractItem" DROP CONSTRAINT "ContractItem_pkey";
ALTER TABLE ONLY public."Company" DROP CONSTRAINT "Company_pkey";
ALTER TABLE ONLY public."Client" DROP CONSTRAINT "Client_pkey";
ALTER TABLE ONLY public."Branch" DROP CONSTRAINT "Branch_pkey";
ALTER TABLE ONLY public."BankAccount" DROP CONSTRAINT "BankAccount_pkey";
ALTER TABLE public.textures ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.pricing_thickness ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.pricing_molding ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.pricing_matboard ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.pricing_glass ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.pricing_frame_preset ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.pricing_backing ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.pricing_accessory ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.molding_textures ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.molding_colors ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.colors ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public."Wallet" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public."QuoteItem" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public."Quote" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public."Payment" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public."Observation" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public."ContractItem" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public."Contract" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public."Company" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public."Client" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public."Branch" ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public."BankAccount" ALTER COLUMN id DROP DEFAULT;
DROP TABLE public.verification_tokens;
DROP TABLE public.users;
DROP SEQUENCE public.textures_id_seq;
DROP TABLE public.textures;
DROP TABLE public.sessions;
DROP SEQUENCE public.pricing_thickness_id_seq;
DROP TABLE public.pricing_thickness;
DROP SEQUENCE public.pricing_molding_id_seq;
DROP TABLE public.pricing_molding;
DROP SEQUENCE public.pricing_matboard_id_seq;
DROP TABLE public.pricing_matboard;
DROP SEQUENCE public.pricing_glass_id_seq;
DROP TABLE public.pricing_glass;
DROP SEQUENCE public.pricing_frame_preset_id_seq;
DROP TABLE public.pricing_frame_preset;
DROP SEQUENCE public.pricing_backing_id_seq;
DROP TABLE public.pricing_backing;
DROP SEQUENCE public.pricing_accessory_id_seq;
DROP TABLE public.pricing_accessory;
DROP SEQUENCE public.molding_textures_id_seq;
DROP TABLE public.molding_textures;
DROP SEQUENCE public.molding_colors_id_seq;
DROP TABLE public.molding_colors;
DROP SEQUENCE public.colors_id_seq;
DROP TABLE public.colors;
DROP TABLE public.accounts;
DROP SEQUENCE public."Wallet_id_seq";
DROP TABLE public."Wallet";
DROP SEQUENCE public."Quote_id_seq";
DROP SEQUENCE public."QuoteItem_id_seq";
DROP TABLE public."QuoteItem";
DROP TABLE public."Quote";
DROP SEQUENCE public."Payment_id_seq";
DROP TABLE public."Payment";
DROP SEQUENCE public."Observation_id_seq";
DROP TABLE public."Observation";
DROP SEQUENCE public."Contract_id_seq";
DROP SEQUENCE public."ContractItem_id_seq";
DROP TABLE public."ContractItem";
DROP TABLE public."Contract";
DROP SEQUENCE public."Company_id_seq";
DROP TABLE public."Company";
DROP SEQUENCE public."Client_id_seq";
DROP TABLE public."Client";
DROP SEQUENCE public."Branch_id_seq";
DROP TABLE public."Branch";
DROP SEQUENCE public."BankAccount_id_seq";
DROP TABLE public."BankAccount";
DROP TYPE public."WalletType";
DROP TYPE public."UserRole";
DROP TYPE public."QuoteStatus";
DROP TYPE public."PricingMoldingQuality";
DROP TYPE public."PricingFrameKind";
DROP TYPE public."PaymentStatus";
DROP TYPE public."PaymentMethod";
DROP TYPE public."GlassTexture";
DROP TYPE public."GlassFamily";
DROP TYPE public."GlassColorType";
DROP TYPE public."DocumentType";
DROP TYPE public."DeliveryStatus";
DROP TYPE public."Currency";
DROP TYPE public."CompanyStatus";
DROP TYPE public."BranchStatus";
-- *not* dropping schema, since initdb creates it
--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

-- *not* creating schema, since initdb creates it


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS '';


--
-- Name: BranchStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."BranchStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'CLOSED'
);


--
-- Name: CompanyStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."CompanyStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'SUSPENDED'
);


--
-- Name: Currency; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."Currency" AS ENUM (
    'PEN',
    'USD',
    'EUR'
);


--
-- Name: DeliveryStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."DeliveryStatus" AS ENUM (
    'PENDING',
    'PARTIAL',
    'DELIVERED'
);


--
-- Name: DocumentType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."DocumentType" AS ENUM (
    'DNI',
    'RUC',
    'CE',
    'PASSPORT'
);


--
-- Name: GlassColorType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."GlassColorType" AS ENUM (
    'INCOLORO',
    'COLOR',
    'POLARIZADO',
    'REFLEJANTE'
);


--
-- Name: GlassFamily; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."GlassFamily" AS ENUM (
    'PLANO',
    'CATEDRAL',
    'TEMPLADO',
    'ESPEJO'
);


--
-- Name: GlassTexture; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."GlassTexture" AS ENUM (
    'LISO',
    'CUADRICULADO',
    'LLOVIZNA',
    'GARATACHI',
    'FLORA',
    'MARIHUANA',
    'RAMAS'
);


--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'CASH',
    'TRANSFER',
    'CARD',
    'YAPE',
    'PLIN',
    'OTHER'
);


--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PENDING',
    'PARTIAL',
    'PAID'
);


--
-- Name: PricingFrameKind; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."PricingFrameKind" AS ENUM (
    'SIN_FONDO',
    'CON_FONDO',
    'FONDO_TRANSPARENTE',
    'CON_BASTIDOR',
    'ESPECIAL'
);


--
-- Name: PricingMoldingQuality; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."PricingMoldingQuality" AS ENUM (
    'SIMPLE',
    'FINA',
    'BASTIDOR'
);


--
-- Name: QuoteStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."QuoteStatus" AS ENUM (
    'PENDING',
    'ACCEPTED',
    'REJECTED'
);


--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."UserRole" AS ENUM (
    'SUPER_ADMIN',
    'ADMIN',
    'OPERATOR'
);


--
-- Name: WalletType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."WalletType" AS ENUM (
    'YAPE',
    'PLIN'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: BankAccount; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."BankAccount" (
    id integer NOT NULL,
    bank text NOT NULL,
    "accountType" text NOT NULL,
    alias text,
    number text NOT NULL,
    cci text,
    currency public."Currency" NOT NULL,
    "companyId" integer NOT NULL
);


--
-- Name: BankAccount_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."BankAccount_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: BankAccount_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."BankAccount_id_seq" OWNED BY public."BankAccount".id;


--
-- Name: Branch; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Branch" (
    id integer NOT NULL,
    name text NOT NULL,
    address text NOT NULL,
    phone text,
    status public."BranchStatus" DEFAULT 'ACTIVE'::public."BranchStatus" NOT NULL,
    "companyId" integer NOT NULL
);


--
-- Name: Branch_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Branch_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Branch_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Branch_id_seq" OWNED BY public."Branch".id;


--
-- Name: Client; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Client" (
    id integer NOT NULL,
    "documentType" public."DocumentType" NOT NULL,
    "documentNumber" text NOT NULL,
    "fullName" text NOT NULL,
    "contactPerson" text,
    "businessName" text,
    phone text,
    email text,
    address text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "companyId" integer NOT NULL
);


--
-- Name: Client_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Client_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Client_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Client_id_seq" OWNED BY public."Client".id;


--
-- Name: Company; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Company" (
    id integer NOT NULL,
    name text NOT NULL,
    ruc text NOT NULL,
    "logoUrl" text,
    address text,
    phone text,
    whatsapp text,
    "facebookUrl" text,
    "instagramUrl" text,
    "tiktokUrl" text,
    email text,
    website text,
    slogan text,
    description text,
    notes text,
    "legalRepresentative" text,
    administrator text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    status public."CompanyStatus" DEFAULT 'ACTIVE'::public."CompanyStatus" NOT NULL
);


--
-- Name: Company_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Company_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Company_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Company_id_seq" OWNED BY public."Company".id;


--
-- Name: Contract; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Contract" (
    id integer NOT NULL,
    "quoteId" integer NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "paymentStatus" public."PaymentStatus" NOT NULL,
    "amountPaid" double precision DEFAULT 0 NOT NULL,
    "amountPending" double precision DEFAULT 0 NOT NULL,
    "deliveryDate" timestamp(3) without time zone,
    "deliveredAt" timestamp(3) without time zone,
    "deliveryStatus" public."DeliveryStatus" NOT NULL,
    notes text,
    "clientId" integer NOT NULL,
    "companyId" integer NOT NULL,
    "contractNote" text
);


--
-- Name: ContractItem; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."ContractItem" (
    id integer NOT NULL,
    "contractId" integer NOT NULL,
    description text NOT NULL,
    unit text NOT NULL,
    quantity double precision NOT NULL,
    "unitPrice" double precision NOT NULL,
    subtotal double precision NOT NULL
);


--
-- Name: ContractItem_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."ContractItem_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: ContractItem_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."ContractItem_id_seq" OWNED BY public."ContractItem".id;


--
-- Name: Contract_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Contract_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Contract_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Contract_id_seq" OWNED BY public."Contract".id;


--
-- Name: Observation; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Observation" (
    id integer NOT NULL,
    "quoteId" integer NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    type text NOT NULL,
    message text NOT NULL
);


--
-- Name: Observation_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Observation_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Observation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Observation_id_seq" OWNED BY public."Observation".id;


--
-- Name: Payment; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Payment" (
    id integer NOT NULL,
    "contractId" integer NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    amount double precision NOT NULL,
    method public."PaymentMethod" NOT NULL,
    reference text,
    notes text
);


--
-- Name: Payment_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Payment_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Payment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Payment_id_seq" OWNED BY public."Payment".id;


--
-- Name: Quote; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Quote" (
    id integer NOT NULL,
    code text NOT NULL,
    "clientId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status public."QuoteStatus" NOT NULL,
    notes text,
    total double precision DEFAULT 0 NOT NULL,
    "createdById" text,
    "companyId" integer NOT NULL
);


--
-- Name: QuoteItem; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."QuoteItem" (
    id integer NOT NULL,
    "quoteId" integer NOT NULL,
    description text NOT NULL,
    unit text NOT NULL,
    quantity double precision NOT NULL,
    "unitPrice" double precision NOT NULL,
    subtotal double precision NOT NULL
);


--
-- Name: QuoteItem_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."QuoteItem_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: QuoteItem_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."QuoteItem_id_seq" OWNED BY public."QuoteItem".id;


--
-- Name: Quote_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Quote_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Quote_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Quote_id_seq" OWNED BY public."Quote".id;


--
-- Name: Wallet; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Wallet" (
    id integer NOT NULL,
    type public."WalletType" NOT NULL,
    phone text NOT NULL,
    "qrUrl" text,
    "companyId" integer NOT NULL
);


--
-- Name: Wallet_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Wallet_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Wallet_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Wallet_id_seq" OWNED BY public."Wallet".id;


--
-- Name: accounts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.accounts (
    id text NOT NULL,
    user_id text NOT NULL,
    type text NOT NULL,
    provider text NOT NULL,
    provider_account_id text NOT NULL,
    refresh_token text,
    access_token text,
    expires_at integer,
    token_type text,
    scope text,
    id_token text,
    session_state text
);


--
-- Name: colors; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.colors (
    id integer NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: colors_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.colors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: colors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.colors_id_seq OWNED BY public.colors.id;


--
-- Name: molding_colors; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.molding_colors (
    id integer NOT NULL,
    "companyId" integer NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: molding_colors_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.molding_colors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: molding_colors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.molding_colors_id_seq OWNED BY public.molding_colors.id;


--
-- Name: molding_textures; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.molding_textures (
    id integer NOT NULL,
    "companyId" integer NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: molding_textures_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.molding_textures_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: molding_textures_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.molding_textures_id_seq OWNED BY public.molding_textures.id;


--
-- Name: pricing_accessory; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pricing_accessory (
    id integer NOT NULL,
    "companyId" integer NOT NULL,
    name text NOT NULL,
    price numeric(12,2) NOT NULL,
    "validFrom" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "validTo" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: pricing_accessory_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.pricing_accessory_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: pricing_accessory_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.pricing_accessory_id_seq OWNED BY public.pricing_accessory.id;


--
-- Name: pricing_backing; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pricing_backing (
    id integer NOT NULL,
    "companyId" integer NOT NULL,
    name text NOT NULL,
    "pricePerFt2" numeric(12,2) NOT NULL,
    "validFrom" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "validTo" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: pricing_backing_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.pricing_backing_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: pricing_backing_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.pricing_backing_id_seq OWNED BY public.pricing_backing.id;


--
-- Name: pricing_frame_preset; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pricing_frame_preset (
    id integer NOT NULL,
    "companyId" integer NOT NULL,
    name text NOT NULL,
    kind public."PricingFrameKind" NOT NULL,
    recipe jsonb NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "validFrom" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "validTo" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: pricing_frame_preset_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.pricing_frame_preset_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: pricing_frame_preset_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.pricing_frame_preset_id_seq OWNED BY public.pricing_frame_preset.id;


--
-- Name: pricing_glass; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pricing_glass (
    id integer NOT NULL,
    "companyId" integer NOT NULL,
    "commercialName" text NOT NULL,
    family public."GlassFamily" NOT NULL,
    "thicknessMM" numeric(5,2) NOT NULL,
    "colorType" public."GlassColorType" DEFAULT 'INCOLORO'::public."GlassColorType" NOT NULL,
    "colorId" integer,
    "oldColor" text,
    price numeric(12,2) NOT NULL,
    "validFrom" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "validTo" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: pricing_glass_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.pricing_glass_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: pricing_glass_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.pricing_glass_id_seq OWNED BY public.pricing_glass.id;


--
-- Name: pricing_matboard; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pricing_matboard (
    id integer NOT NULL,
    "companyId" integer NOT NULL,
    name text NOT NULL,
    "pricePerFt2" numeric(12,2) NOT NULL,
    "validFrom" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "validTo" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: pricing_matboard_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.pricing_matboard_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: pricing_matboard_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.pricing_matboard_id_seq OWNED BY public.pricing_matboard.id;


--
-- Name: pricing_molding; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pricing_molding (
    id integer NOT NULL,
    "companyId" integer NOT NULL,
    name text NOT NULL,
    quality public."PricingMoldingQuality" NOT NULL,
    "thicknessId" integer NOT NULL,
    "pricePerM" numeric(12,2) NOT NULL,
    "validFrom" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "validTo" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: pricing_molding_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.pricing_molding_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: pricing_molding_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.pricing_molding_id_seq OWNED BY public.pricing_molding.id;


--
-- Name: pricing_thickness; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pricing_thickness (
    id integer NOT NULL,
    "companyId" integer NOT NULL,
    name text NOT NULL
);


--
-- Name: pricing_thickness_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.pricing_thickness_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: pricing_thickness_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.pricing_thickness_id_seq OWNED BY public.pricing_thickness.id;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sessions (
    id text NOT NULL,
    session_token text NOT NULL,
    user_id text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


--
-- Name: textures; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.textures (
    id integer NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: textures_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.textures_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: textures_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.textures_id_seq OWNED BY public.textures.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    name text,
    username text,
    "lastLogin" timestamp(3) without time zone,
    password text,
    phone text,
    "isActive" boolean DEFAULT true NOT NULL,
    role public."UserRole" DEFAULT 'OPERATOR'::public."UserRole" NOT NULL,
    email_verified timestamp(3) without time zone,
    image text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "companyId" integer
);


--
-- Name: verification_tokens; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.verification_tokens (
    identifier text NOT NULL,
    token text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


--
-- Name: BankAccount id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BankAccount" ALTER COLUMN id SET DEFAULT nextval('public."BankAccount_id_seq"'::regclass);


--
-- Name: Branch id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Branch" ALTER COLUMN id SET DEFAULT nextval('public."Branch_id_seq"'::regclass);


--
-- Name: Client id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Client" ALTER COLUMN id SET DEFAULT nextval('public."Client_id_seq"'::regclass);


--
-- Name: Company id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Company" ALTER COLUMN id SET DEFAULT nextval('public."Company_id_seq"'::regclass);


--
-- Name: Contract id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Contract" ALTER COLUMN id SET DEFAULT nextval('public."Contract_id_seq"'::regclass);


--
-- Name: ContractItem id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ContractItem" ALTER COLUMN id SET DEFAULT nextval('public."ContractItem_id_seq"'::regclass);


--
-- Name: Observation id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Observation" ALTER COLUMN id SET DEFAULT nextval('public."Observation_id_seq"'::regclass);


--
-- Name: Payment id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Payment" ALTER COLUMN id SET DEFAULT nextval('public."Payment_id_seq"'::regclass);


--
-- Name: Quote id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Quote" ALTER COLUMN id SET DEFAULT nextval('public."Quote_id_seq"'::regclass);


--
-- Name: QuoteItem id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."QuoteItem" ALTER COLUMN id SET DEFAULT nextval('public."QuoteItem_id_seq"'::regclass);


--
-- Name: Wallet id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Wallet" ALTER COLUMN id SET DEFAULT nextval('public."Wallet_id_seq"'::regclass);


--
-- Name: colors id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.colors ALTER COLUMN id SET DEFAULT nextval('public.colors_id_seq'::regclass);


--
-- Name: molding_colors id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.molding_colors ALTER COLUMN id SET DEFAULT nextval('public.molding_colors_id_seq'::regclass);


--
-- Name: molding_textures id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.molding_textures ALTER COLUMN id SET DEFAULT nextval('public.molding_textures_id_seq'::regclass);


--
-- Name: pricing_accessory id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_accessory ALTER COLUMN id SET DEFAULT nextval('public.pricing_accessory_id_seq'::regclass);


--
-- Name: pricing_backing id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_backing ALTER COLUMN id SET DEFAULT nextval('public.pricing_backing_id_seq'::regclass);


--
-- Name: pricing_frame_preset id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_frame_preset ALTER COLUMN id SET DEFAULT nextval('public.pricing_frame_preset_id_seq'::regclass);


--
-- Name: pricing_glass id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_glass ALTER COLUMN id SET DEFAULT nextval('public.pricing_glass_id_seq'::regclass);


--
-- Name: pricing_matboard id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_matboard ALTER COLUMN id SET DEFAULT nextval('public.pricing_matboard_id_seq'::regclass);


--
-- Name: pricing_molding id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_molding ALTER COLUMN id SET DEFAULT nextval('public.pricing_molding_id_seq'::regclass);


--
-- Name: pricing_thickness id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_thickness ALTER COLUMN id SET DEFAULT nextval('public.pricing_thickness_id_seq'::regclass);


--
-- Name: textures id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.textures ALTER COLUMN id SET DEFAULT nextval('public.textures_id_seq'::regclass);


--
-- Data for Name: BankAccount; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public."BankAccount" (id, bank, "accountType", alias, number, cci, currency, "companyId") VALUES (2, 'INTERBANK', 'Cuenta Negocios Soles', 'Cuenta principal', '5233006591083', '00352300300659108385', 'PEN', 1);
INSERT INTO public."BankAccount" (id, bank, "accountType", alias, number, cci, currency, "companyId") VALUES (3, 'Banco de la Naci├│n', 'Cuenta de Detracciones', 'Detracci├│n', '00 331 068462', '018 331 00033106846290', 'PEN', 1);


--
-- Data for Name: Branch; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public."Branch" (id, name, address, phone, status, "companyId") VALUES (1, 'Sucursal Principal', 'Rinc├│n Ester s/n.', '919982016', 'ACTIVE', 1);


--
-- Data for Name: Client; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public."Client" (id, "documentType", "documentNumber", "fullName", "contactPerson", "businessName", phone, email, address, notes, "createdAt", "companyId") VALUES (1, 'DNI', '12345678', 'Carlos Mendoza', NULL, NULL, '947-077-626', 'carlos@email.com', 'Rinc├│n Antonia Alonzo 6', NULL, '2025-10-07 16:31:43.051', 1);
INSERT INTO public."Client" (id, "documentType", "documentNumber", "fullName", "contactPerson", "businessName", phone, email, address, notes, "createdAt", "companyId") VALUES (2, 'DNI', '87654321', 'Ana Torres', NULL, NULL, '970 347 147', 'ana@email.com', 'Ferrocarril Lucas s/n.', NULL, '2025-10-07 16:31:43.054', 1);
INSERT INTO public."Client" (id, "documentType", "documentNumber", "fullName", "contactPerson", "businessName", phone, email, address, notes, "createdAt", "companyId") VALUES (3, 'RUC', '20123456789', 'Empresa ABC SAC', NULL, 'Empresa ABC SAC', '946 607 682', 'contacto@abc.com', 'Edificio Pilar, 22', NULL, '2025-10-07 16:31:43.057', 1);


--
-- Data for Name: Company; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Contract; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ContractItem; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Observation; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Payment; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Quote; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public."Quote" (id, code, "clientId", "createdAt", status, notes, total, "createdById", "companyId") VALUES (1, 'COT-2024-001', 1, '2025-10-07 16:31:43.076', 'PENDING', 'Sollers deorsum aiunt conicio textus pel custodia statua sollers.', 2473.26, 'cmggs1vid0001kzw4o7m81t0o', 1);
INSERT INTO public."Quote" (id, code, "clientId", "createdAt", status, notes, total, "createdById", "companyId") VALUES (2, 'COT-2024-002', 2, '2025-10-07 16:31:43.087', 'ACCEPTED', 'Cupiditate supplanto tribuo.', 5325.26, 'cmggs1vid0001kzw4o7m81t0o', 1);
INSERT INTO public."Quote" (id, code, "clientId", "createdAt", status, notes, total, "createdById", "companyId") VALUES (3, 'COT-2024-003', 3, '2025-10-07 16:31:43.094', 'PENDING', 'Necessitatibus volubilis vesco.', 5008.48, 'cmggs1vid0001kzw4o7m81t0o', 1);


--
-- Data for Name: QuoteItem; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public."QuoteItem" (id, "quoteId", description, unit, quantity, "unitPrice", subtotal) VALUES (1, 1, 'R├║stico Hormigon Ordenador - Item 1', 'PZA', 2, 198.74, 397.48);
INSERT INTO public."QuoteItem" (id, "quoteId", description, unit, quantity, "unitPrice", subtotal) VALUES (2, 1, 'Increible Pl├ístico Queso - Item 2', 'PZA', 3, 498.38, 1495.14);
INSERT INTO public."QuoteItem" (id, "quoteId", description, unit, quantity, "unitPrice", subtotal) VALUES (3, 1, 'Sorprendente Pl├ístico Patatas fritas - Item 3', 'PZA', 8, 72.58, 580.64);


--
-- Data for Name: Wallet; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public."Wallet" (id, type, phone, "qrUrl", "companyId") VALUES (1, 'YAPE', '994 260 216', 'https://precious-hydrocarbon.com.es/', 1);
INSERT INTO public."Wallet" (id, type, phone, "qrUrl", "companyId") VALUES (2, 'PLIN', '994 260 216', NULL, 1);


--
-- Data for Name: accounts; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: colors; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.colors (id, name, "createdAt", "updatedAt") VALUES (1, 'Incoloro', '2025-10-07 17:37:49.225', '2025-10-07 17:37:49.225');
INSERT INTO public.colors (id, name, "createdAt", "updatedAt") VALUES (2, 'Verde', '2025-10-07 17:37:49.235', '2025-10-07 17:37:49.235');
INSERT INTO public.colors (id, name, "createdAt", "updatedAt") VALUES (3, 'Azul', '2025-10-07 17:37:49.24', '2025-10-07 17:37:49.24');


--
-- Data for Name: molding_colors; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.molding_colors (id, "companyId", name, "createdAt", "updatedAt") VALUES (1, 1, 'Natural', '2025-10-07 16:31:42.956', '2025-10-07 16:31:42.956');
INSERT INTO public.molding_colors (id, "companyId", name, "createdAt", "updatedAt") VALUES (2, 1, 'Dorado', '2025-10-07 16:31:42.959', '2025-10-07 16:31:42.959');
INSERT INTO public.molding_colors (id, "companyId", name, "createdAt", "updatedAt") VALUES (3, 1, 'Plateado', '2025-10-07 16:31:42.96', '2025-10-07 16:31:42.96');


--
-- Data for Name: molding_textures; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.molding_textures (id, "companyId", name, "createdAt", "updatedAt") VALUES (1, 1, 'Lisa', '2025-10-07 16:31:42.945', '2025-10-07 16:31:42.945');
INSERT INTO public.molding_textures (id, "companyId", name, "createdAt", "updatedAt") VALUES (2, 1, 'Rugosa', '2025-10-07 16:31:42.947', '2025-10-07 16:31:42.947');
INSERT INTO public.molding_textures (id, "companyId", name, "createdAt", "updatedAt") VALUES (3, 1, 'Mate', '2025-10-07 16:31:42.949', '2025-10-07 16:31:42.949');


--
-- Data for Name: pricing_accessory; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: pricing_backing; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: pricing_frame_preset; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: pricing_glass; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.pricing_glass (id, "companyId", "commercialName", family, "thicknessMM", "colorType", "colorId", "oldColor", price, "validFrom", "validTo", "isActive", "createdAt", "updatedAt") VALUES (1, 1, 'Cristal Float', 'PLANO', 3.00, 'INCOLORO', NULL, NULL, 25.50, '2025-10-07 17:37:49.293', NULL, true, '2025-10-07 17:37:49.293', '2025-10-07 17:37:49.293');
INSERT INTO public.pricing_glass (id, "companyId", "commercialName", family, "thicknessMM", "colorType", "colorId", "oldColor", price, "validFrom", "validTo", "isActive", "createdAt", "updatedAt") VALUES (2, 1, 'Cristal Float', 'PLANO', 4.00, 'INCOLORO', NULL, NULL, 32.00, '2025-10-07 17:37:49.303', NULL, true, '2025-10-07 17:37:49.303', '2025-10-07 17:37:49.303');
INSERT INTO public.pricing_glass (id, "companyId", "commercialName", family, "thicknessMM", "colorType", "colorId", "oldColor", price, "validFrom", "validTo", "isActive", "createdAt", "updatedAt") VALUES (3, 1, 'Cristal Float', 'PLANO', 5.00, 'INCOLORO', NULL, NULL, 38.75, '2025-10-07 17:37:49.309', NULL, true, '2025-10-07 17:37:49.309', '2025-10-07 17:37:49.309');


--
-- Data for Name: pricing_matboard; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: pricing_molding; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.pricing_molding (id, "companyId", name, quality, "thicknessId", "pricePerM", "validFrom", "validTo", "isActive", "createdAt", "updatedAt") VALUES (1, 1, 'Marco Cl├ísico Simple', 'SIMPLE', 1, 15.50, '2025-10-07 16:31:42.965', NULL, true, '2025-10-07 16:31:42.965', '2025-10-07 16:31:42.965');
INSERT INTO public.pricing_molding (id, "companyId", name, quality, "thicknessId", "pricePerM", "validFrom", "validTo", "isActive", "createdAt", "updatedAt") VALUES (2, 1, 'Marco Elegante Simple', 'SIMPLE', 2, 18.75, '2025-10-07 16:31:42.975', NULL, true, '2025-10-07 16:31:42.975', '2025-10-07 16:31:42.975');
INSERT INTO public.pricing_molding (id, "companyId", name, quality, "thicknessId", "pricePerM", "validFrom", "validTo", "isActive", "createdAt", "updatedAt") VALUES (3, 1, 'Marco Moderno Simple', 'SIMPLE', 3, 22.30, '2025-10-07 16:31:42.98', NULL, true, '2025-10-07 16:31:42.98', '2025-10-07 16:31:42.98');


--
-- Data for Name: pricing_thickness; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.pricing_thickness (id, "companyId", name) VALUES (1, 1, 'MEDIA');
INSERT INTO public.pricing_thickness (id, "companyId", name) VALUES (2, 1, 'TRES_CUARTOS');
INSERT INTO public.pricing_thickness (id, "companyId", name) VALUES (3, 1, 'UNA_PULGADA');


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: textures; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.textures (id, name, "createdAt", "updatedAt") VALUES (1, 'Liso', '2025-10-07 17:37:49.269', '2025-10-07 17:37:49.269');
INSERT INTO public.textures (id, name, "createdAt", "updatedAt") VALUES (2, 'Cuadriculado', '2025-10-07 17:37:49.274', '2025-10-07 17:37:49.274');
INSERT INTO public.textures (id, name, "createdAt", "updatedAt") VALUES (3, 'Llovizna', '2025-10-07 17:37:49.276', '2025-10-07 17:37:49.276');


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.users (id, email, name, username, "lastLogin", password, phone, "isActive", role, email_verified, image, "createdAt", "updatedAt", "companyId") VALUES ('cmggs1vid0001kzw4o7m81t0o', 'admin@vidrieriademo.com', 'Juan P├®rez', 'admin', NULL, 'password123', NULL, true, 'ADMIN', NULL, NULL, '2025-10-07 16:31:43.045', '2025-10-07 16:31:43.045', 1);
INSERT INTO public.users (id, email, name, username, "lastLogin", password, phone, "isActive", role, email_verified, image, "createdAt", "updatedAt", "companyId") VALUES ('cmggs1vig0003kzw4r2ly2fmj', 'maria@vidrieriademo.com', 'Mar├¡a Garc├¡a', 'vendedor1', NULL, 'password123', NULL, true, 'OPERATOR', NULL, NULL, '2025-10-07 16:31:43.048', '2025-10-07 16:31:43.048', 1);
INSERT INTO public.users (id, email, name, username, "lastLogin", password, phone, "isActive", role, email_verified, image, "createdAt", "updatedAt", "companyId") VALUES ('super-admin-cosmos', 'admin@cosmos.com', 'Super Administrador', 'superadmin', NULL, '$2b$12$gdbT4XcVNNA9MydO6j5E7.ykQ/ghH8Kx8yCBynqM/igrACBzFVjtW', NULL, true, 'SUPER_ADMIN', '2025-10-07 16:31:56.103', NULL, '2025-10-07 16:31:56.12', '2025-10-07 16:31:56.12', NULL);


--
-- Data for Name: verification_tokens; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: BankAccount_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."BankAccount_id_seq"', 3, true);


--
-- Name: Branch_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Branch_id_seq"', 1, true);


--
-- Name: Client_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Client_id_seq"', 8, true);


--
-- Name: Company_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Company_id_seq"', 2, true);


--
-- Name: ContractItem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."ContractItem_id_seq"', 1, false);


--
-- Name: Contract_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Contract_id_seq"', 1, false);


--
-- Name: Observation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Observation_id_seq"', 1, false);


--
-- Name: Payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Payment_id_seq"', 1, false);


--
-- Name: QuoteItem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."QuoteItem_id_seq"', 19, true);


--
-- Name: Quote_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Quote_id_seq"', 6, true);


--
-- Name: Wallet_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Wallet_id_seq"', 2, true);


--
-- Name: colors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.colors_id_seq', 10, true);


--
-- Name: molding_colors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.molding_colors_id_seq', 6, true);


--
-- Name: molding_textures_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.molding_textures_id_seq', 6, true);


--
-- Name: pricing_accessory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.pricing_accessory_id_seq', 1, false);


--
-- Name: pricing_backing_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.pricing_backing_id_seq', 1, false);


--
-- Name: pricing_frame_preset_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.pricing_frame_preset_id_seq', 1, false);


--
-- Name: pricing_glass_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.pricing_glass_id_seq', 19, true);


--
-- Name: pricing_matboard_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.pricing_matboard_id_seq', 1, false);


--
-- Name: pricing_molding_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.pricing_molding_id_seq', 13, true);


--
-- Name: pricing_thickness_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.pricing_thickness_id_seq', 15, true);


--
-- Name: textures_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.textures_id_seq', 7, true);


--
-- Name: BankAccount BankAccount_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BankAccount"
    ADD CONSTRAINT "BankAccount_pkey" PRIMARY KEY (id);


--
-- Name: Branch Branch_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Branch"
    ADD CONSTRAINT "Branch_pkey" PRIMARY KEY (id);


--
-- Name: Client Client_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Client"
    ADD CONSTRAINT "Client_pkey" PRIMARY KEY (id);


--
-- Name: Company Company_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Company"
    ADD CONSTRAINT "Company_pkey" PRIMARY KEY (id);


--
-- Name: ContractItem ContractItem_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ContractItem"
    ADD CONSTRAINT "ContractItem_pkey" PRIMARY KEY (id);


--
-- Name: Contract Contract_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Contract"
    ADD CONSTRAINT "Contract_pkey" PRIMARY KEY (id);


--
-- Name: Observation Observation_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Observation"
    ADD CONSTRAINT "Observation_pkey" PRIMARY KEY (id);


--
-- Name: Payment Payment_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_pkey" PRIMARY KEY (id);


--
-- Name: QuoteItem QuoteItem_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."QuoteItem"
    ADD CONSTRAINT "QuoteItem_pkey" PRIMARY KEY (id);


--
-- Name: Quote Quote_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_pkey" PRIMARY KEY (id);


--
-- Name: Wallet Wallet_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Wallet"
    ADD CONSTRAINT "Wallet_pkey" PRIMARY KEY (id);


--
-- Name: accounts accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_pkey PRIMARY KEY (id);


--
-- Name: colors colors_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.colors
    ADD CONSTRAINT colors_pkey PRIMARY KEY (id);


--
-- Name: molding_colors molding_colors_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.molding_colors
    ADD CONSTRAINT molding_colors_pkey PRIMARY KEY (id);


--
-- Name: molding_textures molding_textures_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.molding_textures
    ADD CONSTRAINT molding_textures_pkey PRIMARY KEY (id);


--
-- Name: pricing_accessory pricing_accessory_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_accessory
    ADD CONSTRAINT pricing_accessory_pkey PRIMARY KEY (id);


--
-- Name: pricing_backing pricing_backing_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_backing
    ADD CONSTRAINT pricing_backing_pkey PRIMARY KEY (id);


--
-- Name: pricing_frame_preset pricing_frame_preset_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_frame_preset
    ADD CONSTRAINT pricing_frame_preset_pkey PRIMARY KEY (id);


--
-- Name: pricing_glass pricing_glass_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_glass
    ADD CONSTRAINT pricing_glass_pkey PRIMARY KEY (id);


--
-- Name: pricing_matboard pricing_matboard_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_matboard
    ADD CONSTRAINT pricing_matboard_pkey PRIMARY KEY (id);


--
-- Name: pricing_molding pricing_molding_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_molding
    ADD CONSTRAINT pricing_molding_pkey PRIMARY KEY (id);


--
-- Name: pricing_thickness pricing_thickness_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_thickness
    ADD CONSTRAINT pricing_thickness_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: textures textures_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.textures
    ADD CONSTRAINT textures_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: Client_documentNumber_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Client_documentNumber_key" ON public."Client" USING btree ("documentNumber");


--
-- Name: Company_ruc_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Company_ruc_key" ON public."Company" USING btree (ruc);


--
-- Name: Contract_quoteId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Contract_quoteId_key" ON public."Contract" USING btree ("quoteId");


--
-- Name: Quote_code_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Quote_code_key" ON public."Quote" USING btree (code);


--
-- Name: accounts_provider_provider_account_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX accounts_provider_provider_account_id_key ON public.accounts USING btree (provider, provider_account_id);


--
-- Name: colors_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX colors_name_key ON public.colors USING btree (name);


--
-- Name: molding_colors_companyId_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "molding_colors_companyId_name_key" ON public.molding_colors USING btree ("companyId", name);


--
-- Name: molding_textures_companyId_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "molding_textures_companyId_name_key" ON public.molding_textures USING btree ("companyId", name);


--
-- Name: pricing_accessory_companyId_name_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_accessory_companyId_name_idx" ON public.pricing_accessory USING btree ("companyId", name);


--
-- Name: pricing_accessory_companyId_name_validFrom_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "pricing_accessory_companyId_name_validFrom_key" ON public.pricing_accessory USING btree ("companyId", name, "validFrom");


--
-- Name: pricing_accessory_isActive_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_accessory_isActive_idx" ON public.pricing_accessory USING btree ("isActive");


--
-- Name: pricing_accessory_validFrom_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_accessory_validFrom_idx" ON public.pricing_accessory USING btree ("validFrom");


--
-- Name: pricing_accessory_validTo_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_accessory_validTo_idx" ON public.pricing_accessory USING btree ("validTo");


--
-- Name: pricing_backing_companyId_name_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_backing_companyId_name_idx" ON public.pricing_backing USING btree ("companyId", name);


--
-- Name: pricing_backing_companyId_name_validFrom_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "pricing_backing_companyId_name_validFrom_key" ON public.pricing_backing USING btree ("companyId", name, "validFrom");


--
-- Name: pricing_backing_isActive_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_backing_isActive_idx" ON public.pricing_backing USING btree ("isActive");


--
-- Name: pricing_backing_validFrom_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_backing_validFrom_idx" ON public.pricing_backing USING btree ("validFrom");


--
-- Name: pricing_backing_validTo_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_backing_validTo_idx" ON public.pricing_backing USING btree ("validTo");


--
-- Name: pricing_frame_preset_companyId_kind_isActive_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_frame_preset_companyId_kind_isActive_idx" ON public.pricing_frame_preset USING btree ("companyId", kind, "isActive");


--
-- Name: pricing_frame_preset_companyId_name_validFrom_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "pricing_frame_preset_companyId_name_validFrom_key" ON public.pricing_frame_preset USING btree ("companyId", name, "validFrom");


--
-- Name: pricing_frame_preset_validFrom_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_frame_preset_validFrom_idx" ON public.pricing_frame_preset USING btree ("validFrom");


--
-- Name: pricing_frame_preset_validTo_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_frame_preset_validTo_idx" ON public.pricing_frame_preset USING btree ("validTo");


--
-- Name: pricing_glass_colorType_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_glass_colorType_idx" ON public.pricing_glass USING btree ("colorType");


--
-- Name: pricing_glass_companyId_commercialName_family_thicknessMM_v_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "pricing_glass_companyId_commercialName_family_thicknessMM_v_key" ON public.pricing_glass USING btree ("companyId", "commercialName", family, "thicknessMM", "validFrom");


--
-- Name: pricing_glass_companyId_commercialName_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_glass_companyId_commercialName_idx" ON public.pricing_glass USING btree ("companyId", "commercialName");


--
-- Name: pricing_glass_companyId_family_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_glass_companyId_family_idx" ON public.pricing_glass USING btree ("companyId", family);


--
-- Name: pricing_glass_isActive_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_glass_isActive_idx" ON public.pricing_glass USING btree ("isActive");


--
-- Name: pricing_glass_validFrom_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_glass_validFrom_idx" ON public.pricing_glass USING btree ("validFrom");


--
-- Name: pricing_glass_validTo_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_glass_validTo_idx" ON public.pricing_glass USING btree ("validTo");


--
-- Name: pricing_matboard_companyId_name_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_matboard_companyId_name_idx" ON public.pricing_matboard USING btree ("companyId", name);


--
-- Name: pricing_matboard_companyId_name_validFrom_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "pricing_matboard_companyId_name_validFrom_key" ON public.pricing_matboard USING btree ("companyId", name, "validFrom");


--
-- Name: pricing_matboard_isActive_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_matboard_isActive_idx" ON public.pricing_matboard USING btree ("isActive");


--
-- Name: pricing_matboard_validFrom_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_matboard_validFrom_idx" ON public.pricing_matboard USING btree ("validFrom");


--
-- Name: pricing_matboard_validTo_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_matboard_validTo_idx" ON public.pricing_matboard USING btree ("validTo");


--
-- Name: pricing_molding_companyId_name_quality_thicknessId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_molding_companyId_name_quality_thicknessId_idx" ON public.pricing_molding USING btree ("companyId", name, quality, "thicknessId");


--
-- Name: pricing_molding_companyId_name_thicknessId_validFrom_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "pricing_molding_companyId_name_thicknessId_validFrom_key" ON public.pricing_molding USING btree ("companyId", name, "thicknessId", "validFrom");


--
-- Name: pricing_molding_isActive_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_molding_isActive_idx" ON public.pricing_molding USING btree ("isActive");


--
-- Name: pricing_molding_validFrom_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_molding_validFrom_idx" ON public.pricing_molding USING btree ("validFrom");


--
-- Name: pricing_molding_validTo_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "pricing_molding_validTo_idx" ON public.pricing_molding USING btree ("validTo");


--
-- Name: pricing_thickness_companyId_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "pricing_thickness_companyId_name_key" ON public.pricing_thickness USING btree ("companyId", name);


--
-- Name: sessions_session_token_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX sessions_session_token_key ON public.sessions USING btree (session_token);


--
-- Name: textures_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX textures_name_key ON public.textures USING btree (name);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_username_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX users_username_key ON public.users USING btree (username);


--
-- Name: verification_tokens_identifier_token_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX verification_tokens_identifier_token_key ON public.verification_tokens USING btree (identifier, token);


--
-- Name: BankAccount BankAccount_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BankAccount"
    ADD CONSTRAINT "BankAccount_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Branch Branch_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Branch"
    ADD CONSTRAINT "Branch_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Client Client_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Client"
    ADD CONSTRAINT "Client_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ContractItem ContractItem_contractId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ContractItem"
    ADD CONSTRAINT "ContractItem_contractId_fkey" FOREIGN KEY ("contractId") REFERENCES public."Contract"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Contract Contract_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Contract"
    ADD CONSTRAINT "Contract_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public."Client"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Contract Contract_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Contract"
    ADD CONSTRAINT "Contract_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Contract Contract_quoteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Contract"
    ADD CONSTRAINT "Contract_quoteId_fkey" FOREIGN KEY ("quoteId") REFERENCES public."Quote"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Observation Observation_quoteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Observation"
    ADD CONSTRAINT "Observation_quoteId_fkey" FOREIGN KEY ("quoteId") REFERENCES public."Quote"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Payment Payment_contractId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_contractId_fkey" FOREIGN KEY ("contractId") REFERENCES public."Contract"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: QuoteItem QuoteItem_quoteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."QuoteItem"
    ADD CONSTRAINT "QuoteItem_quoteId_fkey" FOREIGN KEY ("quoteId") REFERENCES public."Quote"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Quote Quote_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public."Client"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Quote Quote_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Quote Quote_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Quote"
    ADD CONSTRAINT "Quote_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Wallet Wallet_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Wallet"
    ADD CONSTRAINT "Wallet_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: accounts accounts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: molding_colors molding_colors_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.molding_colors
    ADD CONSTRAINT "molding_colors_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: molding_textures molding_textures_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.molding_textures
    ADD CONSTRAINT "molding_textures_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pricing_accessory pricing_accessory_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_accessory
    ADD CONSTRAINT "pricing_accessory_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pricing_backing pricing_backing_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_backing
    ADD CONSTRAINT "pricing_backing_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pricing_frame_preset pricing_frame_preset_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_frame_preset
    ADD CONSTRAINT "pricing_frame_preset_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pricing_glass pricing_glass_colorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_glass
    ADD CONSTRAINT "pricing_glass_colorId_fkey" FOREIGN KEY ("colorId") REFERENCES public.colors(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: pricing_glass pricing_glass_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_glass
    ADD CONSTRAINT "pricing_glass_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pricing_matboard pricing_matboard_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_matboard
    ADD CONSTRAINT "pricing_matboard_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pricing_molding pricing_molding_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_molding
    ADD CONSTRAINT "pricing_molding_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pricing_molding pricing_molding_thicknessId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_molding
    ADD CONSTRAINT "pricing_molding_thicknessId_fkey" FOREIGN KEY ("thicknessId") REFERENCES public.pricing_thickness(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pricing_thickness pricing_thickness_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_thickness
    ADD CONSTRAINT "pricing_thickness_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sessions sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: users users_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict A0C8WW4hQkiE4GpJiEmCRo3ofuyEOFWqOwzTho8WOwEB22N9NX9F8KOqdaVnJO4

